.sidebar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the start of the flex container */
  }
  
  .navbar-item {
    padding: 10px;
    text-align: left;
    color: #000;
    background-color: #cbd5e0; /* Equivalent to bg-slate-400 */
    border-radius: 4px;
    margin-bottom: 10px; /* Space between items */
    width: 100%; /* Full width items */
  }
  
  .navbar-item:hover {
    background-color: #a0aec0; /* Darker shade for hover effect */
  }
  